<p>Promiseを扱う上での単純なロジック URL入力後ボタン押下でレスポンス内容を表示する</p>
<div>
  <span>SampleURL:https://api.github.com/search/repositories?q=javascript</span>
</div>
<label>URL</label>
<div><input id='url' type="text"></input></div>
<div>
<button id='responseGetter'>responseGetter</button>
<button id='responseGetterAsync'>responseGetterAsync</button>
</div>

<div>
<label>RESPONSE：</label>
<p id='result'></p>
</input>
</div>

