<p id="notice"><%= notice %></p>
<p>Ajax用テキストボックス 登録したAgeと既存のAgeの大小関係を判定して降順に並べられるようにDOM操作する簡単なロジック</p>
<label>Name</label>
<input id='userName' type="text"></input><br>
<label>Age</label>
<input id='userAge' type="number"></input><br>
<label>Hoge</label>
<input id='userHoge' type='textarea'></input><br>
<button id='userRegister'>userRegister</button>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Hoge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='tbodysamaya'>
    <% @users.each do |user| %>
      <tr id=<%=user.age%>>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.hoge %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
